################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SearchFileInAllDirectory/obj/Debug
/SearchFileInAllDirectory/bin/Debug
/.vs/SearchFileInAllDirectory/v17
